from os import getcwd
root_dir = "/home/foo/marvin-django/marvin"
vuln_analysis_dir = "/home/foo/Marvin-static-Analyzer"
agent_dir = "/home/foo/marvin-django/agent"
perms_list_file = root_dir + "/frontpage/weka/perms_list_nov2014"
model_file = root_dir + "/frontpage/weka/bayes.model"
root_apk_dir = "/mnt/apks/"
root_git_dir = "/mnt/apks/marvin.git"
gitlab_url = "<gitlab url>"
gitlab_token = "<gitlab token>"
marvin_git_passwd = "<gitlab password>"

gp_server = googleplay.GooglePlayAPI('<language>', '<timezone>', <device_id>)
gp_authenticated = False
try:
	gp_server.login('<googleplay user>', 'googleplay password', None, None)
	gp_authenticated = True
except Exception as e:
      print "Error logeandose a googleplay %r: " + repr(foo)
      



