{% extends "frontpage/base.html" %}


{% block content %}
{% if packages %}
<h2> Aplicaciones con la vulnerabilidad {{vuln}} </h2>
<br>
<table>
	<tr>
		<th> Aplicacion </th>
		<th> Package name </th>
		<th> Version </th>
	</tr>

	{% for vuln in packages %}
	<tr>
		<td><a href="/frontpage/{{vuln.id}}/DetalleVuln/"> {{vuln.app.app_name}} </a></td>
		<td><a href="/frontpage/{{vuln.app.id}}/">  {{vuln.app.package_name}}</a> </td>
		<td>{{vuln.app.version}} </td>
	</tr>

		{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if packages.has_previous %}
            <a href="?page={{ packages.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ packages.number }} of {{ packages.paginator.num_pages }}.
        </span>

        {% if packages.has_next %}
            <a href="?page={{ packages.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	
{% else %}
	<p> No apps available </p>
{% endif %}
{% endblock %}
