{% load staticfiles %}

<script src="{% static 'frontpage/js/jquery-1.12.1.js' %}"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="{% static 'frontpage/js/myfuncs-jquery.js' %}"></script>


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'frontpage/style.css' %}" />
   
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'frontpage/bootstrap.min.css' %}" >
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'frontpage/simple-sidebar.css'%}" >

    <title>{% block title %}Marvin{% endblock %}</title>
    <img src="{% static 'frontpage/Marvin.png' %}" />
    <br>
</head>

<body>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {% if user.is_authenticated %}
                    <li class='user-actions'><b>Bienvenido</b>, {{ user.username }}.</li>
                {% else %}
                    <li class='user-actions'><a href="/frontpage/login/">Ingresar</a></li>
                {% endif %}
                <li><a href="/frontpage/">Inicio</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/user_crud/">Administrar Usuarios</a></li>
                    <li><a href="/frontpage/upload/">Subir archivo</a></li>
                {% endif %}

                <li><a href="/frontpage/search_googleplay/">Buscar app en Google Play</a></li>
                <li><a href="/frontpage/search_app/">Buscar app en Marvin</a></li>

                <li><a href="/frontpage/search_source/">Buscar en código fuente</a></li> 
                <li><a href="/frontpage/ListaPermisos">Permisos</a></li>
                <li><a href="/frontpage/static_vulns/">Vulnerabilidades (s)</a></li>
                <li><a href="/frontpage/dynamic_vulns/">Vulnerabilidades (d)</a></li>
                <li><a href="/frontpage/verified_vulns/">Vuln. verificadas</a></li>
                <li><a href="/frontpage/enabled_vulns/">Vuln. en chequeo</a></li>
                {% if user.is_authenticated %}
                    <li class='user-actions'><a href="/frontpage/logout/">Cerrar sesión</a></li> 
                {% endif %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {# </div> #}
</body>
</html>
