{% extends "frontpage/base.html" %}

{% block content %}
{% if packages %}
<table id='test'>
    <thead>
    	<tr>
    		<th> App name </th>
    		<th> Package name </th>
    		<th> Version </th>
    		<th> Author </th>
            <th> Free   </th>
            <th> Upload date </th>
    		<th> Downloads </th>
    	</tr>
    </thead>
    <tbody>
    {% for app in packages %}
    <tr>
		<td><a href="/frontpage/GetDetails/{{app.docId}}"> {{app.title}} </a></td>
		<td> {{app.docId}} </td>
        {% if app.versionString %}
            <td>{{app.versionString}} </td>
        {% else %}
            <td>{{app.versionCode}} </td>
        {% endif %}
		<td>{{app.author}} </td>

        {% if app.offer.0.micros > 0 %}
            <td> No </td>
        {% else %}
            <td> Yes </td>
        {% endif %}
        <td>{{app.uploadDate}} </td>
        <td>{{app.numDownloads}} </td>
	</tr>
		{% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready( function () {
        $('#test').DataTable();
    } );
    
</script>

<!-- <table>
<div class="pagination">
    <span class="step-links">
        <tr>
            {% if packages.has_previous %}
            <td>
                <form action="?page={{ packages.previous_page_number }}" method="post">
                    {% csrf_token %}
                    <input name="terms" type="hidden" value="{{terms}}" />
                    <input type="submit" value="Prev"/>
                </form>
            </td>
            {% endif %}
            <td>
                <span class="current" >
                    Page {{ packages.number }} of {{ packages.paginator.num_pages }}.
                </span>
            </td>
            {% if packages.has_next %}
            <td>
                <form action="?page={{ packages.next_page_number }}" method="post">
                    {% csrf_token %}
                    <input name="terms" type="hidden" value="{{terms}}" />
                    <input type="submit" value="Next"/>
                </form>
            </td>
            {% endif %}
        </tr>
    </span>
</div>
</table> -->
	
{% else %}
	<p> No apps available </p>
{% endif %}
{% endblock %}
