{% extends "frontpage/base.html" %}

{% block content %}
{% if packages %}
<table id='contentTable'>
    <thead>
    	<tr class='contentTableHeaderRow'>
    		<th> App name </th>
    		<th> Package name </th>
    		<th> Version </th>
    		<th> Author </th>
            <th> Free   </th>
            <th> Upload date </th>
    		<th> Downloads </th>
    	</tr>
    </thead>
    <tbody>
    {% for app in packages %}
    <tr>
		<td><a href="/frontpage/GetDetails/{{app.docId}}"> {{app.title}} </a></td>
		<td> {{app.docId}} </td>
        {% if app.versionString %}
            <td>{{app.versionString}} </td>
        {% else %}
            <td>{{app.versionCode}} </td>
        {% endif %}
		<td>{{app.author}} </td>

        {% if app.offer.0.micros > 0 %}
            <td> No </td>
        {% else %}
            <td> Yes </td>
        {% endif %}
        <td>{{app.uploadDate}} </td>
        <td>{{app.numDownloads}} </td>
	</tr>
		{% endfor %}
    </tbody>
</table>
{% else %}
	<p> No apps available </p>
{% endif %}
<script type="text/javascript">
    $(document).ready( function () {
        $('#contentTable').DataTable();
    } );
</script>
{% endblock %}
