{% extends "frontpage/base.html" %}


{% block content %}
{% if last_packages %}
<table id="contentTable">
    <!-- <thead> -->
    	<tr>
    		<th> Nombre aplicación </th>
    		<th> Nombre paquete</th>
    		<th> Versión </th>
    		<th> DL Status </th>
            <th> DC Status </th>		
    		<th> SA Status </th>
    		<th> Vulns </th>
    	</tr>
    <!-- </thead> -->
    <tbody>
	{% for app in last_packages %}
	<tr>
		<td><a href="/frontpage/{{app.id}}/"> {{app.app_name}} </a></td>
		<td> {{app.package_name}} </td>
		<td>{{app.version}} </td>
		<td>{{app.DLstatus}} </td>
        <td>{{app.DCstatus}} </td>
        <td>{{app.SAstatus}} </td>    
        <td></td>    
	{% endfor %}
    </tbody>
</table>
{% if user.is_authenticated %}
    <!-- <button id="resetAgentBtn" class="btn btn-primary " href="/frontpage/flush_queue/">Resetear agentes</button> -->
    <button id="resetAgentBtn" class="btn btn-primary " onclick="myFunction()">Resetear Agentes</button>

{% endif %}
	
{% else %}
    <p>El repositorio se encuentra vacío.</p>
{% endif %}

<script type="text/javascript">
    function myFunction() {
        ret = confirm("Se va a proceder a vaciar los agentes");
        window.location.href = "/frontpage/flush_queue/";
    }
</script>
</script>
{% endblock %}
