{% extends "frontpage/base.html" %}

{% block content %}
       <h1>Ingresar a Marvin</h1>

    {% block form %}
        <form id="login_form" method="post" action="/frontpage/login/">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input  name="username" value="" size="50" type="text" class="form-control col-4" id="usernameInput" aria-describedby="usernameHelp" placeholder="Ingrese Usuario">
            </div>
            <div class="form-group">
                <label for="passwordInput">Contraseña:</label>
                <input name="password" value="" size="12" type="password" class="form-control col-4" id="passwordInput" placeholder="********">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>

    {% endblock %}
{% endblock %}