{% extends "frontpage/base.html" %}


{% block content %}
{% if sourcefiles %}

 <table>
	<tr>
		{% if search_result %}
			<th> App name </th>
		{% endif %}
		<th> File name </th>
		<th> Length </th>
	</tr>

	{% for file in sourcefiles %}
	<tr>
		{% if search_result %}
			<td><a href="/frontpage/{{file.app.id}}/"> {{file.app.app_name}} </a></td>
			<td> <a href="/frontpage/{{file.app.id}}/classes/{{file.file_name}}"> {{file.file_name}} </a> </td>
		{% endif %}
		<td> {{file.file_contents|length}} </td>
	</tr>
		{% endfor %}
</table>

<table>
<div class="pagination">
	<span class="step-links">
		<tr>
        {% if sourcefiles.has_previous %}
        	<td>
	            <form action="?page={{ sourcefiles.previous_page_number }}" method="POST">
	                {% csrf_token %}
	                <input name="terms" type="hidden" value="{{terms}}" />
	                <input type="submit" value="Prev"/>
	            </form>
        	</td>
        {% endif %}
        	<td>
		        <span class="current">
		            Page {{ sourcefiles.number }} of {{ sourcefiles.paginator.num_pages }}.
		        </span>
	    	</td>
	        {% if sourcefiles.has_next %}
	        <td>
	            <form action="?page={{ sourcefiles.next_page_number }}" method="POST">
	                {% csrf_token %}
	                <input name="terms" type="hidden" value="{{terms}}" />
	                <input type="submit" value="Next"/>
	            </form>
	        </td>
	        {% endif %}
	    <tr>
    </span>
</div>
</table>
{% else %}
	<p> No source files available </p>
{% endif %}
{% endblock %}