{% extends "frontpage/base.html" %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'frontpage/style.css' %}" />
{% block content %}
   <h2>Agregar y Remover Usuarios</h2>
    <form id="crud_form" method="post" action="/frontpage/user_crud/">
        {% csrf_token %}
        Usuario:<br/> <input type="text" name="username" value="" size="50" />
        <br/>
        Contraseña:<br/><input type="password" name="password" value="" size="50" />
        <br/>
        <br/>
        <input type="submit" value="Agregar usuario" />
    </form>
{% endblock %} 